{% extends 'main.twig' %}
{% block head_title %}{{ site.title }} | {{ site.tagline }}{% endblock %}
{% block body %}

    <h1 class="page-header">
        {{ site.title }}
        <small>{{ site.tagline }}</small>
    </h1>



    <article>
        <div>
            {% autoescape false %}{{ post.content }}{% endautoescape %}
        </div>
    </article>

{% endblock %}
