<h5>How To</h5>
<ul class="nav nav-pills nav-stacked">
    <li{% if post.uri === 'site-configuration' %} class="active"{% endif %}>
        <a href="{{ site_root }}site-configuration/">Site Configuration</a>
    </li>
    <li{% if post.uri === 'content' %} class="active"{% endif %}>
        <a href="{{ site_root }}content/">Managing Content</a>
    </li>
    <li{% if post.uri === 'templates' %} class="active"{% endif %}>
        <a href="{{ site_root }}templates/">Templates</a>
    </li>

    <li{% if post.uri === 'asset-files' %} class="active"{% endif %}>
        <a href="{{ site_root }}asset-files/">Assets</a>
    </li>
</ul>

<h5>Commands</h5>
<ul class="nav nav-pills nav-stacked">
    <li{% if post.uri === 'nog-init' %} class="active"{% endif %}>
        <a href="{{ site_root }}nog-init/">nog init</a>
    </li>
    <li{% if post.uri === 'nog-serve' %} class="active"{% endif %}>
        <a href="{{ site_root }}nog-serve/">nog serve</a>
    </li>
    <li{% if post.uri === 'nog-push' %} class="active"{% endif %}>
        <a href="{{ site_root }}nog-push/">nog push</a>
    </li>
    <li{% if post.uri === 'nog-lint' %} class="active"{% endif %}>
        <a href="{{ site_root }}nog-lint/">nog lint</a>
    </li>
</ul>
